*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .div-form{
    height: 100vh;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .div-form h1{
    display: flex;
    align-items: center;
    font-size: 50px;
    margin-bottom: 50px;
}
.container .div-form h1 img{
    height: 50px;
    width:  50px;
    align-self: center;
}

.container .div-form form{
    display:flex;
    flex-direction: column;
    width: 100%;
}
form .input-class{
    width: 60%;
    margin:auto;
    height:60px;
    margin-bottom:30px;
    border-radius:50px;
    background-color: #ffafbd;
    box-shadow: 20px 20px 20px #ffb8b1, -10px -10px 20px #ffb8b1;
    position: relative;
}
form .input-class input{
    width:100%;
    height: 100%;
    border-radius:50px;
    outline:none;
    border:none;
    padding:20px 70px;
    font-size: 18px;
}
.container .div-text{
    height : 100vh;
    width: 40%;
    background: linear-gradient(170deg,#ffafbd,#ffc3a0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .div-text h1{
    font-size:40px;
    margin-bottom: 20px;
}

/* momentan nu am niciun p, dar daca vrem sa adaugam text sub welcome to boo, aici o sa vina*/
.container .div-text p{
    margin: 0 auto;
    width: 60%;
    line-height: 2;
    font-size: 14px;
}


form .input-class i{
    position: absolute;
    color :#ffafbd;
    font-size : 30px;
    top : 50%;
    left:20px;
    transform:translateY(-50%);
}

form .input-class .fa-eye{
    left:90%;
    font-size:16px;
    cursor: pointer;
}

form .input-class .fa-eye-slash{
    left:90%;
    font-size:16px;
    cursor: pointer;
}

form .button{
    color:white;
    font-size: 20px;
    width: 250px;
    margin:auto;
    background: #f18a99;
    padding :15px;
    border-radius: 50px;
    cursor: pointer;
    border:none;
    margin-bottom: 20px;
}
form .button:hover{
    background-color: #c74a58;
}

form .span-register{
    text-align: center;
    font-size: 14px;
}

form .span-register a{
    color: #d26676;

}
form .span-register:hover a{
    color: #b92639;
}

button a {
    text-decoration: none;
    color:white;
}

@media(max-width:600px){
     .container .div-text{
        display: none;
    }
    .container .div-form{
        display: flex;
        align-items: center;
        width:90vw;
        align-self: center;
    }
    .container .input-class{
        width: 90%;
        align-self: center;
        margin-left:10vw;
    }
}