<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale1.0">
    <title>BOO!</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="../public/css/adminhomepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div id="wrapper-div">
    <div id="navigation-div">
        <nav>
            <div id="toggle-menu">

                <a href="#" class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <div id="dropdown-menu">
                    <div class="menu-buttons">
                        <a class="active"  href="javascript:void(0);" onclick="navigateToPage('homepage')">Home</a>
                        <a class="active"  href="javascript:void(0);" onclick="navigateToPage('mybooks')">My Books</a>
                        <div class="hoverable">

                            <a class="active" href="#">Categories</a>
                            <div class="hamburger-double-dropdown">
                                <a href="javascript:void(0);" onclick="navigateToGenre('romance')">Romance</a>
                                <a href="javascript:void(0);" onclick="navigateToGenre('biography')">Biography</a>
                                <a href="javascript:void(0);" onclick="navigateToGenre('crime')">Crime</a>
                                <a  href="javascript:void(0);"onclick="navigateToGenre('fiction')">Fiction</a>
                                <a  href="javascript:void(0);" onclick="navigateToGenre('historical fiction')">Historical Fiction</a>
                                <a href="javascript:void(0);" onclick="navigateToGenre('self help')">Self Help</a>
                                <a href="javascript:void(0);" onclick="navigateToGenre('young adult')">Young Adult</a>
                            </div>
                        </div>
                        <a class="active" href="javascript:void(0);" onclick="navigateToPage('mygroups')">My Groups</a>
                        <div class="hoverable">

                            <a class="active" href="#">More</a>
                            <div class="hamburger-double-dropdown">
                                <a href="javascript:void(0);" onclick="navigateToPage('userpage')">Profile</a>
                                <a href="javascript:void(0);" onclick="navigateToPage('about')">About</a>
                                <a href="javascript:void(0);" onclick="navigateToPage('help')">Help</a>
                                <a href="javascript:void(0);" onclick="logout()">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="buttons">
                <a class="logo" href="javascript:void(0);" onclick="navigateToPage('homepage')"><img src="boo.png"
                                                                                                     alt="Ghost reading a book"></a>
                <a class="active"  href="javascript:void(0);" onclick="navigateToPage('homepage')">Home</a>
                <a class="active"  href="javascript:void(0);" onclick="navigateToPage('mybooks')">My Books</a>
                <div class="dropdown">
                    <button class="dropDownButton">Categories</button>
                    <div class="dropdown-categories">
                        <a href="javascript:void(0);" onclick="navigateToGenre('romance')">Romance</a>
                        <a href="javascript:void(0);" onclick="navigateToGenre('biography')">Biography</a>
                        <a href="javascript:void(0);" onclick="navigateToGenre('crime')">Crime</a>
                        <a  href="javascript:void(0);"onclick="navigateToGenre('fiction')">Fiction</a>
                        <a  href="javascript:void(0);" onclick="navigateToGenre('historical fiction')">Historical Fiction</a>
                        <a href="javascript:void(0);" onclick="navigateToGenre('self help')">Self Help</a>
                        <a href="javascript:void(0);" onclick="navigateToGenre('young adult')">Young Adult</a>
                    </div>
                </div>
                <a class="active" href="javascript:void(0);" onclick="navigateToPage('mygroups')">My Groups</a>
                <div class="dropdown">
                    <button class="dropDownButton">More</button>
                    <div class="dropdown-categories">
                        <a href="javascript:void(0);" onclick="navigateToPage('userpage')">Profile</a>
                        <a href="javascript:void(0);" onclick="navigateToPage('about')">About</a>
                        <a href="javascript:void(0);" onclick="navigateToPage('help')">Help</a>
                        <a href="javascript:void(0);" onclick="logout()">Log Out</a>
                    </div>
                </div>

            </div>
            <div id="search-bar">
                <input type="text" placeholder="Search...">
            </div>
        </nav>
    </div>


    <div id="content-div">
        <div id="clasament-div">
            <h1>Most Liked Books This Week:</h1>
            <nav class="linkuri-clasament">
                <ol>
                    <li>
                        <a href="#" class="book-name">
                            Carte 1
                        </a></li>
                    <li>
                        <a href="#" class="book-name">
                            Carte 2 </a> <a href="#" class="author-names"> by Author 1
                        </a></li>
                    <li>
                        <a href="#" class="book-name">
                            Carte3
                        </a></li>
                    <li>
                        <a href="#" class="book-name">
                            Carte 4
                        </a></li>
                    <li>
                        <a href="#" class="book-name">
                            Carte5
                        </a></li>
                    <li>
                        <a href="#" class="book-name">
                            Carte6
                        </a></li>
                    <li>
                        <a href="#" class="book-name">
                            Carte7
                        </a></li>
                </ol>

                <!-- <h3>
                     Give your books ratings to help us create these rankings!
                 </h3>-->
            </nav>
        </div>

        <div id="feed-div">
            <div class="post-container">
                <!--aici putem pune poza userului-->
                <!-- aici putem pune sus si nr de stelute colorate-->
                <div class="user-profile">
                    <p>Miruna</p>
                    <span>April 1 2023, 14:48 </span>
                </div>


                <p class="post-text">I Rated <a href="adminbookpage.html" class="book-title">Pride and
                    Prejudice</a> by <a
                        href="#" class="book-author">Jane Austen</a> 5 stars!
                </p>

                <div class="post-row">
                    <div class="activity-icons">
                        <div>
                            <i class="fa-regular fa-heart toggle-heart">15</i>
                            <i class="fa-regular fa-comment toggle-comment">3</i>
                        </div>
                    </div>
                </div>

                <article class="comment-section">
                    <div class="comment">
                        <div class="user-profile">
                            <p>Teodora</p>
                            <span>April 7 2023, 23:17 </span>
                        </div>
                        <p class="comment-text">I like it as well!</p>
                    </div>
                    <div class="comment">
                        <div class="user-profile">
                            <p>Teodora</p>
                            <span>April 7 2023, 23:17 </span>
                        </div>
                        <p class="comment-text">I like it as well!</p>
                    </div>
                    <div class="comment">
                        <div class="user-profile">
                            <p>Teodora</p>
                            <span>April 7 2023, 23:17 </span>
                        </div>
                        <p class="comment-text">I like it as well!</p>
                    </div>
                    <div class="add-comment">
                        <input class="comment-input" type="text" placeholder="Write a comment...">
                        <button class = "add-comment-button">Add Comment</button>
                    </div>
                </article>


            </div>
            <div class="post-container">
                <!--aici putem pune poza userului-->
                <!-- aici putem pune sus si nr de stelute colorate-->
                <div class="user-profile">
                    <p>Teodora</p>
                    <span>April 1 2023, 15:1 </span>
                </div>


                <p class="post-text">I Rated <a href="adminbookpage.html" class="book-title">Pride and Prejudice</a> by <a
                        href="#" class="book-author">Jane Austen</a> 4 stars!
                </p>

                <div class="post-row">
                    <div class="activity-icons">
                        <div>
                            <i class="fa-regular fa-heart toggle-heart">15</i>
                            <i class="fa-regular fa-comment toggle-comment">1</i>
                        </div>
                    </div>
                </div>
                <article class="comment-section">
                    <div class="comment">
                        <div class="user-profile">
                            <p>Pau</p>
                            <span>April 7 2023, 23:29 </span>
                        </div>
                        <p class="comment-text">Great read</p>
                    </div>
                    <div class="add-comment">
                        <input class="comment-input" type="text" placeholder="Write a comment...">
                        <button class = "add-comment-button">Add Comment</button>
                    </div>
                </article>
            </div>
            <div class="post-container">
                <!--aici putem pune poza userului-->
                <!-- aici putem pune sus si nr de stelute colorate-->
                <div class="user-profile">
                    <p>Casu</p>
                    <span>April 1 2023, 14:48 </span>
                </div>


                <p class="post-text">I Rated <a href="adminbookpage.html" class="book-title">Pride and Prejudice</a> by <a
                        href="#" class="book-author">Jane Austen</a> 5 stars!
                </p>

                <div class="post-row">
                    <div class="activity-icons">
                        <div>
                            <i class="fa-regular fa-heart toggle-heart">15</i>
                            <i class="fa-regular fa-comment toggle-comment">0</i>
                        </div>
                    </div>
                </div>
                <article class="comment-section">
                    <div class="add-comment">
                        <input class="comment-input" type="text" placeholder="Write a comment...">
                        <button class = "add-comment-button">Add Comment</button>
                    </div>
                </article>
            </div>
            <div class="post-container">
                <!--aici putem pune poza userului-->
                <!-- aici putem pune sus si nr de stelute colorate-->
                <div class="user-profile">
                    <p>Pau</p>
                    <span>April 1 2023, 14:48 </span>
                </div>


                <p class="post-text">I Rated <a href="adminbookpage.html" class="book-title">Pride and Prejudice</a> by <a
                        href="#" class="book-author">Jane Austen</a> 5 stars!
                </p>

                <div class="post-row">
                    <div class="activity-icons">
                        <div>
                            <i class="fa-regular fa-heart toggle-heart">15</i>
                            <i class="fa-regular fa-comment toggle-comment">0</i>
                        </div>
                    </div>
                </div>
                <article class="comment-section">
                    <div class="add-comment">
                        <input class="comment-input" type="text" placeholder="Write a comment...">
                        <button class = "add-comment-button">Add Comment</button>
                    </div>
                </article>
            </div>
            <div class="post-container">
                <!--aici putem pune poza userului-->
                <!-- aici putem pune sus si nr de stelute colorate-->
                <div class="user-profile">
                    <p>Rares</p>
                    <span>April 1 2023, 14:48 </span>
                </div>


                <p class="post-text">I Rated <a href="adminbookpage.html" class="book-title">Pride and Prejudice</a> by <a
                        href="#" class="book-author">Jane Austen</a> 5 stars!
                </p>

                <div class="post-row">
                    <div class="activity-icons">
                        <div>
                            <i class="fa-regular fa-heart toggle-heart">15</i>
                            <i class="fa-regular fa-comment toggle-comment">0</i>
                        </div>
                    </div>
                </div>
                <article class="comment-section">
                    <div class="add-comment">
                        <input class="comment-input" type="text" placeholder="Write a comment...">
                        <button class = "add-comment-button">Add Comment</button>
                    </div>
                </article>
            </div>
            <div class="post-container">
                <!--aici putem pune poza userului-->
                <!-- aici putem pune sus si nr de stelute colorate-->
                <div class="user-profile">
                    <p>Boo!</p>
                    <span>April 1 2023, 15:37 </span>
                </div>


                <p class="post-text">The <a href="admingenrepage.html" class="genre">Romance</a> Genre ranking changed!
                </p>

                <div class="post-row">
                    <div class="activity-icons">
                        <div>
                            <i class="fa-regular fa-heart toggle-heart">15</i>
                            <i class="fa-regular fa-comment toggle-comment">0</i>
                        </div>
                    </div>
                    <article class="comment-section">
                        <div class="add-comment">
                            <input class="comment-input" type="text" placeholder="Write a comment...">
                            <button class = "add-comment-button">Add Comment</button>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </div>
    <footer id="main-footer">
        <p>&copy; Proiect realizat de Savin Miruna si Tudurache Teodora, 2023, Tehnologii Web</p>
    </footer>
</div>
<script src="comments_and_likes.js"></script>
<script src ="navigationLinks.js"></script>
</body>
</html>