<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="../public/css/allgroupspage.css">
    <title>Boo!</title>
</head>
<body>
    <!--link titlu grup-->
    <div id="wrapper-div">
        <div id="navigation-div">
            <nav>
                <div id="toggle-menu">

                    <a href="#" class="toggle-button">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </a>
                    <div id="dropdown-menu">
                        <div class="menu-buttons">
                            <a class="active"  href="javascript:void(0);" onclick="navigateToPage('homepage')">Home</a>
                            <a class="active"  href="javascript:void(0);" onclick="navigateToPage('mybooks')">My Books</a>
                            <div class="hoverable">

                                <a class="active" href="#">Categories</a>
                                <div class="hamburger-double-dropdown">
                                    <a href="javascript:void(0);" onclick="navigateToGenre('romance')">Romance</a>
                                    <a href="javascript:void(0);" onclick="navigateToGenre('biography')">Biography</a>
                                    <a href="javascript:void(0);" onclick="navigateToGenre('crime')">Crime</a>
                                    <a  href="javascript:void(0);"onclick="navigateToGenre('fiction')">Fiction</a>
                                    <a  href="javascript:void(0);" onclick="navigateToGenre('historical fiction')">Historical Fiction</a>
                                    <a href="javascript:void(0);" onclick="navigateToGenre('self help')">Self Help</a>
                                    <a href="javascript:void(0);" onclick="navigateToGenre('young adult')">Young Adult</a>
                                </div>
                            </div>
                            <a class="active" href="javascript:void(0);" onclick="navigateToPage('mygroups')">My Groups</a>
                            <div class="hoverable">

                                <a class="active" href="#">More</a>
                                <div class="hamburger-double-dropdown">
                                    <a href="javascript:void(0);" onclick="navigateToPage('userpage')">Profile</a>
                                    <a href="javascript:void(0);" onclick="navigateToPage('about')">About</a>
                                    <a href="javascript:void(0);" onclick="navigateToPage('help')">Help</a>
                                    <a href="javascript:void(0);" onclick="logout()">Log Out</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="buttons">
                    <a class="logo" href="javascript:void(0);" onclick="navigateToPage('homepage')"><img src="boo.png"
                                                                                                         alt="Ghost reading a book"></a>
                    <a class="active"  href="javascript:void(0);" onclick="navigateToPage('homepage')">Home</a>
                    <a class="active"  href="javascript:void(0);" onclick="navigateToPage('mybooks')">My Books</a>
                    <div class="dropdown">
                        <button class="dropDownButton">Categories</button>
                        <div class="dropdown-categories">
                            <a href="javascript:void(0);" onclick="navigateToGenre('romance')">Romance</a>
                            <a href="javascript:void(0);" onclick="navigateToGenre('biography')">Biography</a>
                            <a href="javascript:void(0);" onclick="navigateToGenre('crime')">Crime</a>
                            <a  href="javascript:void(0);"onclick="navigateToGenre('fiction')">Fiction</a>
                            <a  href="javascript:void(0);" onclick="navigateToGenre('historical fiction')">Historical Fiction</a>
                            <a href="javascript:void(0);" onclick="navigateToGenre('self help')">Self Help</a>
                            <a href="javascript:void(0);" onclick="navigateToGenre('young adult')">Young Adult</a>
                        </div>
                    </div>
                    <a class="active" href="javascript:void(0);" onclick="navigateToPage('mygroups')">My Groups</a>
                    <div class="dropdown">
                        <button class="dropDownButton">More</button>
                        <div class="dropdown-categories">
                            <a href="javascript:void(0);" onclick="navigateToPage('userpage')">Profile</a>
                            <a href="javascript:void(0);" onclick="navigateToPage('about')">About</a>
                            <a href="javascript:void(0);" onclick="navigateToPage('help')">Help</a>
                            <a href="javascript:void(0);" onclick="logout()">Log Out</a>
                        </div>
                    </div>

                </div>
                <div id="search-bar">
                    <input type="text" placeholder="Search...">
                </div>
            </nav>
        </div>

        <div id="content-wrapper">
            <div id="my-groups">
                <h1>Groups</h1>
                <hr>
                <div class="group-summary">
                    <h2>Grupul Teodorei de lectura</h2>
                    <hr>
                    <div class="book-summary">
                        <div class = "book-cover">
                          <a href = "adminbookpage.html">  <img src="../public/images/book-cover.jpg" alt="Book cover"></a>
                        </div>
                        <div class = "book-information">
                            <p class="title"> 
                                Pride and prejudice
                            </p>
                            <p class="author"> 
                                Jane Austen
                            </p>
    
                            <div class="rating-box">
                                <div class="preset-rating">
                                    <div class="empty-stars"></div>
                                    <div class="full-stars" style="width:85.6%"></div>
                                </div>
                                <p>
                                    4.28
                                </p>
                            </div>
                        </div>
                        <a href="admingrouppage.html" class="group-link">see more</a>
                        
                    </div>
                    <!--chestiuta cu see more dupa rezumatul cartii-->
                </div>

                <div class="group-summary">
                    <h2>Grupul Mirunei de lectura</h2>
                    <hr>
                    <div class="book-summary">
                        <div class = "book-cover">
                          <a href = "#"> <img src="../public/images/great-gatsby.jpg" alt="Book cover"></a>
                        </div>
                        <div class = "book-information">
                            <p class="title"> 
                                The Great Gatsby
                            </p>
                            <p class="author"> 
                                F. Scott Fitzgerald
                            </p>
    
                            <div class="rating-box">
                                <div class="preset-rating">
                                    <div class="empty-stars"></div>
                                    <div class="full-stars" style="width:78.6%"></div>
                                </div>
                                <p>
                                    3.93
                                </p>
                            </div>
                        </div>
                        <a href="#" class="group-link">see more</a>
                       
                    </div>
                    <!--chestiuta cu see more dupa rezumatul cartii-->
                </div>

            </div>
            
        </div>
        <footer id = "main-footer">
            <p>&copy; Proiect realizat de Savin Miruna si Tudurache Teodora, 2023, Tehnologii Web</p>
        </footer>
    </div>
    <script src ="navigationLinks.js"></script>
</body>
</html>