<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale1.0">
    <title>SignupPage</title>
    <!--linkul pentru ceva care ne ajuta sa punem icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!--linkul pentru fisierul css-->
    <link rel="stylesheet" href="../public/css/signup.css">

</head>

<body>
<div class="container">
    <div class="div-form">
        <h1>Sign up here!</h1>
        <form id="signupForm">

            <div class="input-class user">
                <i class="fa-solid fa-user"></i>
                <label class="user-input-label">
                    <input type="text" id ="username" placeholder="Username">
                </label>
            </div>


            <div class="input-class password">
                <i class="fa-sharp fa-solid fa-key"></i>
                <label class="password-input-label">
                    <input type="password" id = "password" placeholder="Password">
                </label>
                <i class="fa-sharp fa-solid fa-eye" id = "togglePassword"></i>
            </div>

            <div class="input-class confirm-password">
                <i class="fa-sharp fa-solid fa-key"></i>
                <label class="password-input-label">
                    <input type="password" id = "confirmPassword" placeholder="Confirm Password">
                </label>
                <i class="fa-sharp fa-solid fa-eye" id = "toggleConfirmPassword"></i>
            </div>

            <div class = "label">What do you like to read?</div>

            <div class = "category-selector">
                <div class = "category">
                    <input type="checkbox" id="genre1" value="Adventure">
                    <label for="genre1">Adventure</label><br>
                </div>

                <div class = "category">
                    <input type="checkbox" id="genre2" value="Classics">
                    <label for="genre2">Classics</label><br>
                </div>

                <div class = "category">
                    <input type="checkbox" id="genre3" value="Mystery">
                    <label for="genre3">Mystery</label><br>
                </div>

                <div class = "category">
                    <input type="checkbox" id="genre4" value="Non-fiction">
                    <label for="genre4">Non-fiction</label><br>
                </div>

                <div class = "category">
                    <input type="checkbox" id="genre5" value="Romance">
                    <label for="genre5">Romance</label><br>
                </div>

                <div class = "category">
                    <input type="checkbox" id="genre6"value="YA">
                    <label for="genre6">Young Adult</label><br>
                </div>
            </div>

            <div class = "final-stuff">

            <button class="button" type = "submit"> Sign Up</button>
            <span class="span-register">Already have an account?<a href="login"> Sign In</a></span>

            </div>
        </form>


    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src = "../public/scripts/signup.js"></script>

</body>
</html>