*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(170deg,rgba(255, 175, 189, 0.5),rgba(255, 195, 160, 0.7)),url("wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#wrapper-div{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    margin: auto;
    align-items: center;
    justify-content: center;
}


#content-div{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    margin-top: 3vh;
    align-content: center;

    z-index:10;
}

/*#clasament-div{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    background-color: #cf4d5c;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 30vh;
    margin-left:2vw;
    border-radius: 50px;
    position: fixed;
    overflow: hidden;
}
*/
#clasament-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: scroll;


    width: 20%;
    height: 40%;
    background-color: #cf4d5c;

    margin-top: 15vh;
    margin-left: 3.5vw;
    padding:10px;
    border-radius: 50px;
    position: fixed;
    scrollbar-width: none;
}


#clasament-div nav {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    scrollbar-width: none;

}

#clasament-div h1 {
    margin-top: 15vh;
    display: flex;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


#clasament-div nav h2{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    padding: 1vh;
}

#clasament-div nav .author-names{
    font-size:15px;
}
#clasament-div nav .author-names:hover{
    font-weight: bold;
}
#clasament-div nav .book-name:hover{
    font-weight: bold;
}
#clasament-div nav ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    padding: 1vh;

}

#clasament-div nav li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    padding: 1vh;
    text-align: center;
    overflow-wrap:normal;
    text-decoration: none;

}
#clasament-div nav h3{
    display: flex;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    margin-top: 5vh;
    text-align: center;
}

#feed-div{
    display: flex;
    flex-direction: column;
    align-items: center;

    width:60%;
    background-color: #cf4d5c;
    border-radius: 50px;
    margin-left: 25vw;
    margin-top:5vh;
    margin-bottom:5vh;
    height: 80%;
    position: fixed;

    overflow-y: scroll;
    scrollbar-width: none;
    z-index:0;
}


.post-text .book-title{
    color:#626262;
    text-decoration: none;
    font-style: italic;
}

.post-text .book-author-link, .genre{
    color:#626262;
}
.post-text a:hover{
    font-weight: bold;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content:space-between;
}


.book-container{
    display: flex;
    flex-direction: row;
    width:90%;
    background-color: white;
    border-radius: 50px;
    padding:20px;
    color:#626262;
    margin:20px auto;
}
.book-photo img {
    height: 25vh;
    padding: 1vw;
}
.post-text{
    color:#626262;
    margin:15px 0;
    font-size:15px;
    font-weight: bolder;
}
.book-title a{
    color: #515153;
    text-decoration: none;
    font-style: italic;
    font-size:20px;
    font-weight: 500;
}

.book-title a:hover{
    font-weight: bold;
}


.star-rating{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left:-2vw;
}

.star-rating p{
    font-size:15px;
    margin-top: 0.8vh;
    margin-left: 0.7vw;
}


.preset-rating {
    position: relative;
    margin-left: 2vw;
    vertical-align: middle;
    display:inline-block;
    color: #b1b1b1;
    overflow: hidden;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    color: #fde16d;
}

.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 25px;
}

.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
    -webkit-text-stroke: 1px orange;
}


.book-description{
    bottom:0;
    background: linear-gradient(to bottom, transparent, white);
}
.book-description::before{

}

.more-button{
    appearance: none;
    border: 1px solid black;
    padding: .5em;
    border-radius: .25em;
    cursor: pointer;
    margin-top:1rem;
    width: auto;
    font-size: 15px;
}

.hide{
    display: none;
}
#main-footer{
    color:#cf4d5c;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding:20px 0 10px 0;
    margin-bottom:10px;
    position: relative;
    margin-top: -10px;
}

#pages-div{
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 84vh;
    margin-left: 8vw;
    align-self: center;
}
#pages-div button{
    margin-right: 5px;
}
.page-active{
    text-decoration: underline;
    color:#cf4d5c;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media(max-width: 900px){

    #clasament-div{
        display: none;
    }
    #feed-div{
        width: 90%;
        margin-left:5vw;
        margin-top:12vh;
    }
}

@media(max-width:400px){


    #content-div{
        margin-top: -5vh;
    }

}
