* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(170deg,rgba(255, 175, 189, 0.5),rgba(255, 195, 160, 0.7)),url("../images/wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
}


#wrapper-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#navigation-div {
    display: flex;
    flex-direction: row;
    width: 80%;
    min-height: 50px;

    justify-content: center;
    margin-top: 1vh;
    z-index: 50;
    scrollbar-width: none;
}

#navigation-div nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
    width: 80%;

    overflow: auto;
    background-color: #cf4d5c;
    line-height: 4vh;
    border-radius: 50px;
    position: fixed;
    scrollbar-width: none;
}

#dropdown-menu {
    display: flex;
    flex-direction: row;
    justify-self: baseline;

}

.menu-buttons {
    display: none;
    position: fixed;
    background-color: #ffc3a0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    margin-top: 5vh;
}

#dropdown-menu .menu-buttons a:hover {
    font-weight: bold;
}


.menu-buttons a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #cf4d5c;
    font-weight: 500;
    font-size: 15px;
    z-index: 1000;
}

.hamburger-double-dropdown a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #cf4d5c;
    font-weight: 500;
    font-size: 15px;
    z-index: 1000;
}

.hamburger-double-dropdown {
    display: none;
    position: fixed;
    background-color: #ffc3a0;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.hoverable:hover .hamburger-double-dropdown {
    display: flex;
    flex-direction: column;
    z-index: 1002;
    margin-top: -4vh;
    position: absolute;
    right: 45vw;
}

.toggle-button {
    position: static;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button:hover .bar {
    height: 4px;

}

#toggle-menu:hover .menu-buttons {
    display: flex;
    flex-direction: column;
    justify-self: center;
    z-index: 1002;
    margin-top: auto;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #ffc3a0;
    border-radius: 10px;
}


.buttons {
    display: flex;
    flex-direction: row;
}

#search-bar {
    display: flex;
    flex-direction: row;
}

#navigation-div .logo img {
    margin-top: 2vh;
    margin-left: 4vh;
    border-radius: 50px;
    height: 5vh;
    width: 5vh;
}

.buttons .active {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-self: baseline;
    margin-left: 3vw;
    padding: 18px 20px;
    text-decoration: none;
    color: white;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-self: baseline;
}

.dropdown-categories {
    display: none;
    position: fixed;
    background-color: #ffc3a0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown-categories a:hover {
    font-weight: bold;
}

.dropdown-categories a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #cf4d5c;
    font-weight: 500;
    font-size: 15px;
    z-index: 1000;

}

.dropdown .dropDownButton {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    outline: none;
    color: white;
    border: none;
    background-color: inherit;
    padding: 18px 20px;
    margin: 0;
    text-align: center;
    alignment-baseline: center;
}

.dropdown:hover .dropdown-categories {
    display: flex;
    flex-direction: column;
    justify-self: center;
    z-index: 100001;
    margin-top: 8.5vh;

}

.buttons .active:hover {
    font-weight: bold;
    text-decoration: underline #ffc3a0 1px;
    text-underline-offset: 2px;
}

.dropdown .dropDownButton:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline #ffc3a0 1px;
    text-underline-offset: 2px;

}

#search-bar {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

#search-bar input[type=text] {
    justify-self: center;
    align-self: center;
    padding: 0.5vw;
    height: 4vh;
    border: none;

    width: 15vw;
    margin-top: 0.5vh;
    margin-right: 1vw;
    border-radius: 20px;
    outline: none;
}

#content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    margin-top: 1vh;
    align-items: center;
    z-index:10;
}

#main-footer {
    color: #cf4d5c;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 10px 0;
    position: relative;
}

#buttons-container{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}

#buttons-container button {
    position: relative;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;
    background-color: darkred;
    color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 20px;
}

#buttons-container button:hover{
    background-color: red;
}
#buttons-container button:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}

#content{
    display: flex;
    flex-direction: column; 
    align-content: center;
    height: fit-content;
    width: 80%;
    margin-top: 3vh;
    background-color:#cf4d5c ;
    border-radius: 50px;
    padding:40px;
}

#top{
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

#top img{
    height: auto;
    width: 200px;
}

.user-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-information .information-block{
    display: inline-flex;
    margin-bottom: 2vh;
    margin-left: 3vw;
    font-size: 20px;

}

.user-information .information-block .category{
    margin-bottom: 1vh;
    margin-right: 5px;
    font-weight: bold;
    color:white;
}

.user-information .information-block .information{
    margin-bottom: 1vh;
    color:white
}


#feed-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.user-profile p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.user-profile span {
    font-size: 10px;
}

.post-container {
    width: 90%;
    background-color: #ffb2b9;
    border-radius: 50px;
    padding: 20px;
    color: #383838;
    margin: 20px 0;
}

.post-text, .comment-text {
    color: #383838;
    margin: 15px 0;
    font-size: 15px;
    font-weight: bolder;
}

.post-text .book-title {
    color: #383838;
    text-decoration: none;
    font-style: italic;
}

.post-text .book-author, .genre {
    color: #383838;
}
.genre-tags a:hover{
    color: #393939;
}

.post-text a:hover {
    font-weight: bold;
}

.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div i {
    width: 18px;
    margin-right: 2vw;
    margin-left: 2vw;
}

.comment-section{
    display: none;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #ffb2b9;
    border-radius: 20px;
    padding: 20px;
    color: #a3a3a3;
    margin: 20px 0;
}

.comment{
    display: none;
    flex-direction: column;
    width: 100%;
    height:50%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    color: #a3a3a3;
    margin: 10px 0 10px 0;
}

.add-comment{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height:30%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    color: #a3a3a3;
    margin: 10px 0 10px 0;
}
.comment-input[type = text]{
    border-radius: 20px;
    padding: 0.5vw;
    width: 80%;
    border-style: solid;

}

.add-comment-button{
    display: none;
    border-radius: 20px;
    width: fit-content;
    padding: 0.5vw;
}

h2{
    font-size: 30px;
    font-weight: bold;
    margin-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color:white;
}


@media (max-width: 900px) {
    #navigation-div .logo {
        display: none;
    }

    #navigation-div nav {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin-top: 1vh;
        scrollbar-width: none;
    }

    #navigation-div nav #search-bar {
        width: 50%;
    }

    #navigation-div nav #search-bar input {
        width: 100%;
        margin-top: 2vh;
    }

    #navigation-div .active:hover {
        font-weight: normal;
    }
    
    #content-wrapper {
        flex-direction: column;
        align-items: center;
    }
    
}
@media(max-width: 725px){
    #buttons-container{
        margin-top: 14vh;
    }
}

@media (max-width: 550px) {
    .buttons .active {
        display: none;
    }

    .dropDownButton {
        display: none;
    }

    .toggle-button {
        display: flex;
    }

    .hoverable:hover .hamburger-double-dropdown {
        display: flex;
        flex-direction: column;
        z-index: 1005;
        margin-top: -4vh;
        position: absolute;
        right: 28vw;
    }
    #book-cover-div {
        width: 50%;
        position: relative;
    }
    #buttons-container{
        margin-top: 8vh;
    }
}

@media (max-width: 600px) {
    #top{
        display:flex;
        flex-direction: column;
    }
    #top img{
        align-self: center;
        margin-bottom: 2vh;
    }
}


@media (max-height: 400px) {
    #navigation-div #search-bar input {
        display: none;
    }
}

@media (max-width: 400px) {
    #navigation-div {
        margin-top: 3vh;
    }

    #content-div {
        margin-top: -5vh;
    }

    .toggle-button {
        display: flex;
    }

    .buttons {
        display: none;
    }

    .dropDownButton {
        display: none;
    }

    input {
        display: none;
    }

    .hoverable:hover .hamburger-double-dropdown {
        display: flex;
        flex-direction: column;
        z-index: 1002;
        margin-top: -4vh;
        position: absolute;
        right: 40vw;
    }
}
