*{
    margin:0px;
    padding:0px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg,#ffafbd,#ffc3a0);
}

#wrapper-div{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    background: linear-gradient(0deg,#ffafbd,#ffc3a0);
    margin: auto;
    align-items: center;
    justify-content: center;
}

#navigation-div{
    display: flex;
    flex-direction: row;
    width: 70%;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    z-index:50;
}

#navigation-div nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
    width: 70%;

    overflow:auto;
    background-color: #cf4d5c;
    line-height: 4vh;
    border-radius: 50px;
    position: fixed;
}

#navigation-div .logo img{
    margin-left : 4vh;
    margin-top:1vh;
    border-radius: 50px;
    height: 5vh;
    width:  5vh;
}

#navigation-div .active{
    font-size: 1.3vw;
    font-family: 'Lato', sans-serif;
    font-weight: 100;

    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 3vw;
    padding: 18px 20px;
    text-decoration: none;
    color: white;
}

#navigation-div .dropdown-categories{
    display: none;
    position: fixed;
    background-color: #ffc3a0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

#navigation-div .dropdown-categories a:hover{
    font-weight: bold;
}

#navigation-div .dropdown-categories a{
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #cf4d5c;
    font-weight: 500;
    font-size: 1vw;
    z-index:10001;

}

#navigation-div .dropdown .dropDownButton{
    font-size: 1.3vw;
    font-family:'Lato', sans-serif;
    font-weight: 100;
    outline:none;
    color:white;
    border: none;
    background-color: inherit;
    padding: 18px 20px;
    margin: 0;
    text-align: center;
    alignment-baseline: center;
}
#navigation-div .dropdown:hover .dropdown-categories{
    display: flex;
    flex-direction: column;
    z-index:1002;

}

#navigation-div .active:hover{
    font-weight: bold;
}
#navigation-div .dropdown .dropDownButton:hover{
    cursor: pointer;
    font-weight: bold;
}


#navigation-div input[type=text]{
    justify-self: flex-end;
    align-self: baseline;
    padding: 0.5vw;
    height: 4vh;
    border : none;

    width: 20%;
    margin-top:1.5vh;
    margin-right: 1vw;
    border-radius: 20px;
    outline: none;
}

#content-div{
    display: flex;
    flex-direction: row;
    width:100%;
    min-height: 100vh;
    background: linear-gradient(0deg,#ffafbd,#ffc3a0);
    margin-top: 1vh;
    align-content: center;
    z-index:10;
}

/*#clasament-div{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    background-color: #cf4d5c;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 30vh;
    margin-left:2vw;
    border-radius: 50px;
    position: fixed;
    overflow: hidden;
}
*/
#clasament-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    overflow-wrap: break-word;
    overflow-y:scroll;
    overflow-x:scroll;


    width: 20%;
    height: 40%;
    background-color: #cf4d5c;

    margin-top: 5rem;
    margin-left: 2rem;
    border-radius: 50px;
    position: fixed;
    scrollbar-width: none;

}


#clasament-div nav{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    justify-content: center;


}

#clasament-div  h1{
    margin-top: 13vh;
    display: flex;
    font-size: 1.3vw;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    justify-content: center;
    align-items: center;

}

#clasament-div nav h2{
    display: flex;
    justify-content: center;
    font-size: 1.3vw;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    padding: 1vh;
}

#clasament-div nav .author-names{
    font-size:1vw;
}
#clasament-div nav .author-names:hover{
    font-weight: bold;
}
#clasament-div nav .book-name:hover{
    font-weight: bold;
}
#clasament-div nav ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    padding: 1vh;

}

#clasament-div nav li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    padding: 1vh;
    text-align: center;
    overflow-wrap:normal;
    text-decoration: none;

}
#clasament-div nav h3{
    display: flex;
    font-size: 1vw;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    margin-top: 5vh;
    text-align: center;
}

#feed-div{
    display: flex;
    flex-direction: column;
    align-items: center;

    width:60%;
    background-color: #cf4d5c;
    border-radius: 50px;
    margin-left: 25vw;
    margin-top:5rem;
    margin-bottom:5rem;
    height: 80%;
    position: fixed;

    overflow-y: scroll;
    scrollbar-width: none;
    z-index:0;
}



.post-text .book-title{
    color:#626262;
    text-decoration: none;
    font-style: italic;
}

.post-text .book-author-link, .genre{
    color:#626262;
}
.post-text a:hover{
    font-weight: bold;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.activity-icons div i{
    font-size: 0.875em;
    margin-right: 2vw;
    margin-left: 2vw;
}


.book-container{
    display: flex;
    flex-direction: row;
    width:90%;
    background-color: white;
    border-radius: 50px;
    padding:20px;
    color:#626262;
    margin:20px 0;
}
.book-photo img {
    height: 25vh;
    padding: 1vw;
}
.post-text{
    color:#626262;
    margin:15px 0;
    font-size:1vw;
    font-weight: bolder;
}
.book-title a{
    color: #515153;
    text-decoration: none;
    font-style: italic;
    font-size:1.3vw;
    font-weight: 500;
}

.book-title a:hover{
    font-weight: bold;
}

.book-description{
    bottom:0;
    background: linear-gradient(to bottom, transparent, white);
}
.book-description::before{

}

.more-button{
    appearance: none;
    border: 1px solid black;
    padding: .5em;
    border-radius: .25em;
    cursor: pointer;
    margin-top:1rem;
    width: auto;
    font-size: 1vw;
}

.hide{
    display: none;
}

