*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg,#ffafbd,#ffc3a0);
}

#wrapper-div{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    background: linear-gradient(0deg,#ffafbd,#ffc3a0);
    margin: auto;
    align-items: center;
    justify-content: center;
}

#navigation-div{
    display: flex;
    flex-direction: row;
    width: 80%;
    min-height: 50px;

    justify-content: center;
    margin-top: 1vh;
    z-index:50;
    scrollbar-width: none;
}

#navigation-div nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
    width: 80%;

    overflow:auto;
    background-color: #cf4d5c;
    line-height: 4vh;
    border-radius: 50px;
    position: fixed;
    scrollbar-width: none;
}

#dropdown-menu{
    display: flex;
    flex-direction: row;
    justify-self: baseline;

}

.menu-buttons{
    display: none;
    position: fixed;
    background-color: #ffc3a0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    margin-top:5vh;
}

#dropdown-menu .menu-buttons a:hover{
    font-weight: bold;
}


.menu-buttons a{
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #cf4d5c;
    font-weight: 500;
    font-size: 15px;
    z-index:10001;
}
.hamburger-double-dropdown a{
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #cf4d5c;
    font-weight: 500;
    font-size: 15px;
    z-index:10001;
}
.hamburger-double-dropdown {
    display: none;
    position: fixed;
    background-color: #ffc3a0;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
.hoverable:hover .hamburger-double-dropdown{
    display: flex;
    flex-direction: column;
    z-index:1002;
    margin-top:-4vh;
    position: absolute;
    right:45vw;
}

.toggle-button{
    position :static;
    text-align: center;
    margin-top:1vh;
    margin-bottom:1vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
}
.toggle-button:hover .bar{
    height:4px;

}
#toggle-menu:hover .menu-buttons{
    display: flex;
    flex-direction:column;
    justify-self: center;
    z-index:1002;
    margin-top:auto;

}

.toggle-button .bar{
    height:3px;
    width:100%;
    background-color: #ffc3a0;
    border-radius: 10px;
}



.buttons{
    display: flex;
    flex-direction: row;
}
#search-bar{
    display: flex;
    flex-direction: row;
}
#navigation-div .logo img{
    margin-top:2vh;
    margin-left:4vh;
    border-radius: 50px;
    height: 5vh;
    width:  5vh;
}

.buttons .active{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-self: baseline;
    margin-left: 3vw;
    padding: 18px 20px;
    text-decoration: none;
    color: white;
}
.dropdown {
    display: flex;
    flex-direction: row;
    justify-self: baseline;
    margin-left:3vw;
}
.dropdown-categories{
    display: none;
    position: fixed;
    background-color: #ffc3a0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-categories a:hover{
    font-weight: bold;
}

.dropdown-categories a{
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #cf4d5c;
    font-weight: 500;
    font-size: 15px;
    z-index:10001;

}

.dropdown .dropDownButton{
    font-size: 20px;
    font-family:'Lato', sans-serif;
    font-weight: 100;
    outline:none;
    color:white;
    border: none;
    background-color: inherit;
    padding: 18px 20px;
    margin: 0;
    text-align: center;
    alignment-baseline: center;
}
.dropdown:hover .dropdown-categories{
    display: flex;
    flex-direction: column;
    justify-self: center;
    z-index:1002;
    margin-top : 8.5vh;

}

.buttons .active:hover{
    font-weight: bold;
    text-decoration:underline #ffc3a0 1px;
    text-underline-offset: 2px;
}
.dropdown .dropDownButton:hover{
    cursor: pointer;
    font-weight: bold;
    text-decoration:underline #ffc3a0 1px;
    text-underline-offset: 2px;

}

#search-bar{
    display: flex;
    flex-direction: row;
    justify-self: center;
}
#search-bar input[type=text]{
    justify-self: center;
    align-self: center;
    padding: 0.5vw;
    height: 4vh;
    border : none;

    width: 15vw;
    margin-top:0.5vh;
    margin-right: 1vw;
    border-radius: 20px;
    outline: none;
}

#content-div{
    display: flex;
    flex-direction: row;
    width:100%;
    height:78vh;
    background: linear-gradient(0deg,#ffafbd,#ffc3a0);
    margin-top: 3vh;
    align-content: center;
    z-index:10;
}

/*#clasament-div{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    background-color: #cf4d5c;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 30vh;
    margin-left:2vw;
    border-radius: 50px;
    position: fixed;
    overflow: hidden;
}
*/
#clasament-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    overflow-wrap: break-word;
    overflow-y:scroll;
    overflow-x:scroll;


    width: 20%;
    height: 40%;
    background-color: #cf4d5c;

    margin-top: 5rem;
    margin-left: 2rem;
    border-radius: 50px;
    position: fixed;
    scrollbar-width: none;
}


#clasament-div nav{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    justify-content: center;


}

#clasament-div  h1{
    margin-top: 15vh;
    display: flex;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    justify-content: center;
    align-items: center;

}

#clasament-div nav h2{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    padding: 1vh;
}

#clasament-div nav .author-names{
    font-size:15px;
}
#clasament-div nav .author-names:hover{
    font-weight: bold;
}
#clasament-div nav .book-name:hover{
    font-weight: bold;
}
#clasament-div nav ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    padding: 1vh;

}

#clasament-div nav li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    padding: 1vh;
    text-align: center;
    overflow-wrap:normal;
    text-decoration: none;

}
#clasament-div nav h3{
    display: flex;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    margin-top: 5vh;
    text-align: center;
}

#feed-div{
    display: flex;
    flex-direction: column;
    align-items: center;

    width:60%;
    background-color: #cf4d5c;
    border-radius: 50px;
    margin-left: 25vw;
    margin-top:5vh;
    margin-bottom:5vh;
    height: 80%;
    position: fixed;

    overflow-y: scroll;
    scrollbar-width: none;
    z-index:0;
}


.post-text .book-title{
    color:#626262;
    text-decoration: none;
    font-style: italic;
}

.post-text .book-author-link, .genre{
    color:#626262;
}
.post-text a:hover{
    font-weight: bold;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content:space-between;
}


.book-container{
    display: flex;
    flex-direction: row;
    width:90%;
    background-color: white;
    border-radius: 50px;
    padding:20px;
    color:#626262;
    margin:20px 0;
}
.book-photo img {
    height: 25vh;
    padding: 1vw;
}
.post-text{
    color:#626262;
    margin:15px 0;
    font-size:15px;
    font-weight: bolder;
}
.book-title a{
    color: #515153;
    text-decoration: none;
    font-style: italic;
    font-size:20px;
    font-weight: 500;
}

.book-title a:hover{
    font-weight: bold;
}


.star-rating{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left:-2vw;
}

.star-rating p{
    font-size:15px;
    margin-top: 0.8vh;
    margin-left: 0.7vw;
}


.preset-rating {
    position: relative;
    margin-left: 2vw;
    vertical-align: middle;
    display:inline-block;
    color: #b1b1b1;
    overflow: hidden;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    color: #fde16d;
}

.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 25px;
}

.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
    -webkit-text-stroke: 1px orange;
}


.book-description{
    bottom:0;
    background: linear-gradient(to bottom, transparent, white);
}
.book-description::before{

}

.more-button{
    appearance: none;
    border: 1px solid black;
    padding: .5em;
    border-radius: .25em;
    cursor: pointer;
    margin-top:1rem;
    width: auto;
    font-size: 15px;
}

.hide{
    display: none;
}
#main-footer{
    color:#cf4d5c;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding:20px 0 10px 0;
    margin-top: 40px;
    position: relative;
}


@media(max-width: 900px){
    #navigation-div .logo{
        display: none;
    }
    #navigation-div nav{
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin-top:1vh;
        scrollbar-width: none;
    }
    #navigation-div nav #search-bar{
        width: 50%;
    }

    #navigation-div nav #search-bar input{
        width:100%;
        margin-top:2vh;
    }

    #navigation-div .active:hover{
        font-weight: normal;
    }

    #clasament-div{
        display: none;
    }
    #feed-div{
        width: 90%;
        margin-left:5vw;
        margin-top:12vh;
    }
}
@media(max-width:500px){
    .buttons {
        display: none;
    }
    .toggle-button{
        display:flex;
    }
    .hoverable:hover .hamburger-double-dropdown{
        display: flex;
        flex-direction: column;
        z-index:1002;
        margin-top:-4vh;
        position: absolute;
        right:32vw;
    }
}
@media(max-height: 400px){
    #navigation-div #search-bar input{
        display: none;
    }

}

@media(max-width:400px){
    #navigation-div{
        margin-top:3vh;
    }

    #content-div{
        margin-top: -5vh;
    }
    .toggle-button{
        display:flex;
    }
    .buttons{
        display: none;
    }
    .dropDownButton{
        display: none;
    }
    input{
        display: none;
    }
    .hoverable:hover .hamburger-double-dropdown{
        display: flex;
        flex-direction: column;
        z-index:1002;
        margin-top:-4vh;
        position: absolute;
        right:40vw;
    }
}
